<div class="card-container">
  <div class="card" *ngIf="!isCartVisible">
    <div class="restaurantInfo">
      <h1>{{ restaurantData["restaurantName"] }}</h1>
      <p>{{ restaurantData["locality"] }}</p>
    </div>
    <hr />
    <p style="text-align: center; margin: 0%; font-size: 18px">MENU</p>
    <hr />
    <div class="foodItemsMenu">
      <div class="category-selector">
        <div
          class="category"
          *ngFor="let category of this.cart.menu; let categoryIndex = index"
          (click)="GetCategoryMenu(categoryIndex)"
          [ngClass]="{
            selected: categoryIndex == selectedCategoryIndex
          }"
        >
          {{ category.categoryName }}
        </div>
      </div>
      <hr />

      <div class="menu-container">
        <div class="menu">
          <div
            class="menu-item"
            *ngFor="let item of selectedCategoryMenu; let itemIndex = index"
          >
            <div class="menu-item-info">
              <h1>{{ item.name }}</h1>
              <p>$ {{ item.price }}</p>
            </div>
            <div class="counter">
              <div
                class="qtyChange remove-button"
                (click)="decrementCount(itemIndex)"
              >
                <i class="material-icons">remove_circle</i>
              </div>
              <input
                type="text"
                class="quantity"
                value="{{ item.quantity }}"
                readonly="readonly"
              />
              <div
                class="qtyChange add-button"
                (click)="incrementCount(itemIndex)"
              >
                <i class="material-icons">add_circle</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div *ngIf="isErrorDetected" class="points-error">
      <p>{{ insufficientBalanceError }}</p>
    </div>
    <div class="billInfo" *ngIf="totalPrice > 0">
      <p>Total Price : $ {{ totalPrice }}</p>
      <button (click)="SeeCart()" class="see-cart">
        <p>Order Details</p>
      </button>
    </div>
  </div>
  <!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
  <div class="card" *ngIf="isCartVisible">
    <div class="order">
      <h1>Order Details</h1>
    </div>
    <hr />
    <ng-container
      *ngFor="let category of this.cart.menu; let categoryIndex = index"
    >
      <ng-container
        *ngFor="let item of category.menuItem; let itemIndex = index"
      >
        <div class="cartItems" *ngIf="item.quantity > 0">
          <p class="foodItem">{{ item.name }}</p>
          <p class="foodItem-info">
            {{ item.quantity }} X $ {{ item.price }} : $
            {{ item.quantity * item.price }}
          </p>
        </div>
      </ng-container>
    </ng-container>
    <hr />
    <div class="billInfo">
      <p>Total Price :</p>
      <p>$ {{ totalPrice }}</p>
    </div>
    <hr />
    <div class="pointsPrice">
      <p>Price In Points :</p>
      <p>{{ pointsPrice }}</p>
    </div>
    <div *ngIf="!isProceedToPayClicked" class="user-response">
      <button (click)="BacktoMenu()" class="edit">
        <p>Edit Order</p>
      </button>
      <button (click)="ProceedToPay()" class="proceedToPay">
        <p>Proceed To Pay</p>
      </button>
    </div>
  </div>
</div>
