.card-container {
  width: 90%;
  height: auto;
  margin: 3% 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
  display: flex;
  background-color: #fff;
}

.card {
  width: 96%;
  height: 96%;
  margin: 2% 2%;
  border: none;
}

.restaurantInfo {
  width: 100%;
  height: auto;
}

.restaurantInfo h1 {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.restaurantInfo p {
  font-size: 14px;
  line-height: 14px;
  margin: 0%;
  color: #545454;
  -webkit-font-smoothing: antialiased;
}

.foodItemsMenu {
  width: 100%;
  height: 180px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menu-container {
  width: 90%;
  height: 96%;
  margin: 1% 2%;
  top: 0;
  display: inline-block;
  white-space: normal;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
}

.menu {
  width: 94%;
  height: 94%;
  margin: 2% 3%;
}

.menu-item {
  width: 100%;
  height: 25%;
}

.menu-item-info {
  width: 70%;
  height: 100%;
  float: left;
}

.menu-item-info h1 {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.menu-item-info p {
  font-size: 12px;
  line-height: 12px;
  margin: 0%;
  color: #545454;
  -webkit-font-smoothing: antialiased;
}

.counter {
  width: 30%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  width: 40px;
  height: 25px;
  text-align: center;
}
.qtyChange {
  width: 25px;
  height: 25px;
}
