.card-container {
  width: 90%;
  height: auto;
  margin: 3% 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
  display: flex;
  background-color: #fff;
}

.card {
  width: 96%;
  height: 96%;
  margin: 2% 2%;
  border: none;
}

.restaurantInfo {
  width: 100%;
  height: auto;
  padding: 4%;
}

.restaurantInfo h1 {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  margin: 0%;
}

.restaurantInfo p {
  font-size: 14px;
  line-height: 14px;
  margin: 0%;
  color: #545454;
  -webkit-font-smoothing: antialiased;
}

.foodItemsMenu {
  width: 100%;
  height: 320px;
}

.category-selector {
  height: 10%;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;

  -ms-overflow-style: auto;
  scrollbar-width: thin;
}

.category-selector::-webkit-scrollbar {
  -webkit-appearance: none;
}

.category-selector::-webkit-scrollbar:horizontal {
  height: 7px;
}

.category-selector::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
  border-radius: 10px;
  border: 2px solid #eee;
}

.category-selector::-webkit-scrollbar-track {
  background-color: #eee;
}

.category {
  padding: 2%;
  margin: 0% 2%;
  border-radius: 10px 10px 10px 10px;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
}

.selected {
  color: #fff;
  background-color: var(--theme-color);
}

.foodItem-info {
  white-space: nowrap;
}

.menu-container {
  width: 98%;
  height: 86%;
  margin: 2% 1%;
  display: block;
  white-space: normal;
  background-color: #fff;

  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;

  -ms-overflow-style: auto;
  scrollbar-width: thin;
}

.menu-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.menu-container::-webkit-scrollbar:vertical {
  width: 7px;
}

.menu-container::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
  border-radius: 10px;
  border: 2px solid #eee;
}

.menu-container::-webkit-scrollbar-track {
  background-color: #eee;
}

.menu {
  width: 98%;
  height: 98%;
  margin: 1% 1%;
}

.menu p {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  margin: 0%;
  color: #545454;
  -webkit-font-smoothing: antialiased;
}

.menu-item {
  width: 100%;
  height: 30%;
  margin: 2% 0%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
}

.menu-item-info {
  width: 70%;
  height: 100%;
  padding: 3%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.menu-item-info h1 {
  white-space: initial;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.menu-item-info p {
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  margin: 0%;
  color: #545454;
  -webkit-font-smoothing: antialiased;
}

.counter {
  width: 30%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  width: 40px;
  height: 25px;
  text-align: center;
  border: none;
  outline: none;
}
.qtyChange {
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}
.add-button {
  color: #5fbf5e;
}
.remove-button {
  color: #e25656;
}
.billInfo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.billInfo p {
  margin: 0%;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.pointsPrice {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pointsPrice p {
  margin: 0%;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.see-cart {
  text-align: center;
  vertical-align: middle;
  width: auto;
  margin: 0% 1%;
  padding: 1% 2%;
  bottom: 0%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #5cb85c;
  box-shadow: 1px 2px #8d8d8d;
}

.see-cart:hover {
  background-color: #ffffff;
  border: 1px solid #4cae4c;
}

.see-cart p {
  color: #fff;
  font-size: 16px;
  margin: 0%;
}

.see-cart p:hover {
  color: #5cb85c;
}

.order {
  width: 100%;
  height: auto;
  text-align: center;
}

.order h1 {
  font-size: 26px;
  line-height: 26px;
  margin: 2% 0%;
  font-weight: normal;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.order button {
  float: left;
  background-color: #d9534f;
}

.cartItems {
  width: 100%;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.cartItems p {
  margin: 1%;
}

hr {
  margin: 2%;
}

.user-response {
  width: 100%;
  margin: 5% 0%;
}

.proceedToPay {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 48%;
  margin: 0% 1%;
  padding: 2% 2%;
  bottom: 0%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #5cb85c;
  box-shadow: 1px 2px #8d8d8d;
}

.proceedToPay:hover {
  background-color: #ffffff;
  border: 1px solid #4cae4c;
}

.proceedToPay p {
  color: #fff;
  font-size: 16px;
  margin: 0%;
}

.proceedToPay p:hover {
  color: #5cb85c;
}

.edit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 48%;
  margin: 0% 1%;
  padding: 2% 2%;
  bottom: 0%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #d9534f;
  box-shadow: 1px 2px #8d8d8d;
}

.edit:hover {
  background-color: #ffffff;
  border: 1px solid #d43f3a;
}

.edit p {
  color: #fff;
  font-size: 16px;
  margin: 0%;
}

.edit p:hover {
  color: #000000;
}

.points-error {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding: 2% 2%;
  bottom: 0%;
  border-radius: 5px;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  box-shadow: 1px 2px #8d8d8d;
  margin: 3% 0%;
}

.points-error p {
  color: #a94442;
  font-size: 16px;
  margin: 0%;
}

@media screen and (min-width: 320px) {
  .card-container {
    width: 90%;
    height: auto;
  }
}

@media screen and (min-width: 411px) {
  .card-container {
    width: 90%;
    height: auto;
  }
}

@media screen and (min-width: 481px) {
  .card-container {
    width: 90%;
    height: auto;
  }
}

@media screen and (min-width: 600px) {
  .card-container {
    width: 90%;
    height: auto;
  }

  .category {
    padding: 1%;
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    width: 90%;
    height: auto;
  }

  .category {
    padding: 1%;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    width: 90%;
    height: auto;
  }

  .category {
    padding: 1%;
  }
}

@media screen and (min-width: 1260px) {
  .card-container {
    width: 30%;
    height: auto;
    margin: 1% 0%;
    margin-left: 5%;
  }

  .category {
    padding: 1%;
  }
}

@media screen and (min-width: 1281px) {
  .card-container {
    width: 30%;
    height: auto;
    margin: 1% 0%;
    margin-left: 5%;
  }

  .category {
    padding: 1%;
  }
}
