<div class="card-container">
  <div class="card" *ngIf="!isCartVisible">
    <div class="restaurantInfo">
      <h1>{{ data["restaurantName"] }}</h1>
      <p>{{ data["locality"] }}</p>
    </div>
    <hr />
    <div class="foodItemsMenu">
      <ng-container *ngFor="let item of this.cart.item; let index = index">
        <div *ngIf="index % 4 == 0" class="menu-container">
          <div class="menu">
            <!--  Element #1 -->
            <div class="menu-item" *ngIf="this.cart.item[index]">
              <div class="menu-item-info">
                <h1>{{ this.cart.item[index] }}</h1>
                <p>{{ this.cart.price[index] }}</p>
              </div>
              <div class="counter">
                <button class="qtyChange" (click)="decrementCount(index)">
                  -
                </button>
                <input
                  type="text"
                  class="quantity"
                  value="{{ this.cart.qty[index] }}"
                />
                <button class="qtyChange" (click)="incrementCount(index)">
                  +
                </button>
              </div>
            </div>
            <!--  Element #2 -->
            <div class="menu-item" *ngIf="this.cart.item[index + 1]">
              <div class="menu-item-info">
                <h1>{{ this.cart.item[index + 1] }}</h1>
                <p>{{ this.cart.price[index + 1] }}</p>
              </div>
              <div class="counter">
                <button class="qtyChange" (click)="decrementCount(index + 1)">
                  -
                </button>
                <input
                  type="text"
                  class="quantity"
                  value="{{ this.cart.qty[index + 1] }}"
                />
                <button class="qtyChange" (click)="incrementCount(index + 1)">
                  +
                </button>
              </div>
            </div>
            <!--  Element #3 -->
            <div class="menu-item" *ngIf="this.cart.item[index + 2]">
              <div class="menu-item-info">
                <h1>{{ this.cart.item[index + 2] }}</h1>
                <p>{{ this.cart.price[index + 2] }}</p>
              </div>
              <div class="counter">
                <button class="qtyChange" (click)="decrementCount(index + 2)">
                  -
                </button>
                <input
                  type="text"
                  class="quantity"
                  value="{{ this.cart.qty[index + 2] }}"
                />
                <button class="qtyChange" (click)="incrementCount(index + 2)">
                  +
                </button>
              </div>
            </div>
            <!--  Element #4 -->
            <div class="menu-item" *ngIf="this.cart.item[index + 3]">
              <div class="menu-item-info">
                <h1>{{ this.cart.item[index + 3] }}</h1>
                <p>{{ this.cart.price[index + 3] }}</p>
              </div>
              <div class="counter">
                <button class="qtyChange" (click)="decrementCount(index + 3)">
                  -
                </button>
                <input
                  type="text"
                  class="quantity"
                  value="{{ this.cart.qty[index + 3] }}"
                />
                <button class="qtyChange" (click)="incrementCount(index + 3)">
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <hr />
    <div class="billInfo">
      <p>Total Price : {{ totalPrice }}</p>
      <button (click)="SeeCart()" class="see-cart">
        <p>See Cart</p>
      </button>
    </div>
  </div>
  <div class="card" *ngIf="isCartVisible">
    <div class="order">
      <button (click)="BacktoMenu()" class="see-cart">
        <p>Back</p>
      </button>
      <h1>Cart :</h1>
    </div>
    <hr />
    <ng-container *ngFor="let quantity of this.cart.qty; let index = index">
      <div class="cartItems" *ngIf="quantity > 0">
        <p class="foodItem">{{ this.cart.item[index] }}</p>
        <p>
          {{ this.cart.qty[index] }} X {{ this.cart.price[index] }} :
          {{ this.cart.qty[index] * this.cart.price[index] }}
        </p>
      </div>
    </ng-container>
    <hr />
    <div class="billInfo">
      <p>Total Price : {{ totalPrice }}</p>
      <button (click)="SeeCart()" class="see-cart">
        <p>Proceed To Pay</p>
      </button>
    </div>
  </div>
</div>
