<div class="container">
  <div class="booking-card">
    <div *ngIf="isErrorDetected" class="points-error">
      <p>{{ data["error"] }}</p>
    </div>
    <div [ngClass]="status">
      <h1>
        {{data["status"]}}
      </h1>
    </div>
    <div class="booking-details">
      <div class="bookingId">
        <p>Booking ID : {{data["bookingId"]}}</p>
      </div>
      <hr />
      <div class="restaurant-details">
        <p class="sectionHeading">Booking For :</p>
        <div class="restaurantName">
          <h1>{{ data["restaurantName"] }}</h1>
        </div>
        <!--div class="address">
          <p>
            Next to Vaishali Restaurant, FC Road, Deccan, Pune, Maharashtra,
            India
          </p>
        </div-->
      </div>
      <hr />
      <div class="booking-details">
        <p class="sectionHeading">Booking Details :</p>
        <p>Guests : {{ data["noOfGuests"] }}</p>
        <p>Date : {{ data["date"].split("T")[0] }}</p>
        <p>Time : {{ data["time"] }}</p>
      </div>
      <hr />
      <div class="billing-details">
        <p class="sectionHeading">Billing Details :</p>
        <p>
          Cost Per Person : <span>{{ data["perPersonPoints"] }}</span>
        </p>
        <p>
          Guests : <span>X {{ data["noOfGuests"] }}</span>
        </p>
        <hr />
        <p>
          Final Amount :
          <span>{{ data["perPersonPoints"] * data["noOfGuests"] }}</span>
        </p>
      </div>
      <hr />
      <div class="pointsAfterPayment">
        <p>
          <b
            >Point Balance Available :
            <span>
              {{
                pointBalance
              }}</span
            ></b
          >
        </p>
      </div>
    </div>
    <div *ngIf="!isErrorDetected && !disableAllButtons" class="user-response">
      <button class="cancel" (click)="cancelBooking()"><p>Cancel Booking</p></button>
    </div>
  </div>
</div>
