<div class="form">
  <form action="">
    <div class="environment">
      <Label>Environment</Label>
      <select name="environment">
        <option value="master">Master</option>
        <option value="feature">Feature</option>
      </select>
    </div>

    <div class="client">
      <label>Client</label>
      <select name="client">
        <option value="amex">Am-Ex</option>
        <option value="usbank">US Bank</option>
      </select>
    </div>

    <div class="language">
      <label>Language</label>
      <select name="language">
        <option value="en-us">English US</option>
        <option value="fr">French</option>
      </select>
    </div>

    <div class="username">
      <label>User Name</label>
      <input type="text" placeholder="type username here" name="username" />
    </div>

    <div class="points">
      <label>Point Balance</label>
      <input type="text" value="20000" name="points" />
    </div>

    <button type="submit">Launch</button>
  </form>
</div>
