<div class="container">
  <div class="checkout-card">
    <div *ngIf="isErrorDetected" class="points-error">
      <p>{{ data2["error"] }}</p>
    </div>
    <div class="title">
      <h1>
        Checkout<span *ngIf="!isErrorDetected"
          >{{ minutes }}:{{ seconds }}</span
        >
      </h1>
    </div>
    <div class="checkout-details">
      <div class="restaurant-details">
        <p class="sectionHeading">Booking For :</p>
        <div class="restaurantName">
          <h1>{{ data2["restaurantName"] }}</h1>
        </div>
        <div class="address">
          <p>
            Next to Vaishali Restaurant, FC Road, Deccan, Pune, Maharashtra,
            India
          </p>
        </div>
      </div>
      <hr />
      <div class="booking-details">
        <p class="sectionHeading">Booking Details :</p>
        <p>Guests : {{ data2["noOfGuests"] }}</p>
        <p>Date : {{ data2["date"] }}</p>
        <p>Time : {{ data2["time"] }}</p>
      </div>
      <hr />
      <div class="billing-details">
        <p class="sectionHeading">Billing Details :</p>
        <p>
          Available Point Balance : <span>{{ data2["pointBalance"] }}</span>
        </p>
        <p>
          Cost Per Person : <span>{{ data2["perPersonPoints"] }}</span>
        </p>
        <hr />
        <p>
          <b
            >Final Amount :
            <span>{{ data2["perPersonPoints"] * data2["noOfGuests"] }}</span></b
          >
        </p>
      </div>
    </div>
    <div *ngIf="!isErrorDetected" class="user-response">
      <div class="proceedToPay"><p>Proceed To Pay</p></div>
      <div class="cancel"><p>Cancel Booking</p></div>
    </div>
  </div>
</div>
