<div class="container">
  <div class="checkout-card">
    <div *ngIf="isErrorDetected" class="points-error">
      <p *ngFor="let error of data['error']">-{{ error }}</p>
    </div>
    <div class="title">
      <h1>
        Checkout<span *ngIf="!isErrorDetected && !disableAllButtons"
          >{{ minutes }}:{{ seconds }}</span>
      </h1>
    </div>
    <div class="checkout-details">
      <div class="restaurant-details">
        <p class="sectionHeading">Booking For :</p>
        <div class="restaurantName">
          <h1>{{ data["restaurantName"] }}</h1>
        </div>
        <!--div class="address">
          <p>
            Next to Vaishali Restaurant, FC Road, Deccan, Pune, Maharashtra,
            India
          </p>
        </div-->
      </div>
      <hr />
      <div class="booking-details">
        <p class="sectionHeading">Booking Details :</p>
        <p>Guests : {{ data["noOfGuests"] }}</p>
        <p>Date : {{ data["date"].split("T")[0] }}</p>
        <p>Time : {{ data["time"] }}</p>
      </div>
      <hr *ngIf="!isErrorDetected" />
      <div *ngIf="!isErrorDetected" class="billing-details">
        <p class="sectionHeading">Billing Details :</p>
        <p>
          Available Point Balance : <span>{{pointBalance }}</span>
        </p>
        <p>
          Cost Per Person : <span>{{ data["perPersonPoints"] }}</span>
        </p>
        <p>
          Guests : <span>X {{ data["noOfGuests"] }}</span>
        </p>
        <hr />
        <p>
          <b
            >Final Amount :
            <span>{{ data["perPersonPoints"] * data["noOfGuests"] }}</span></b
          >
        </p>
      </div>
    </div>
    <div *ngIf="!isErrorDetected && !disableAllButtons" class="user-response">
      <button (click)="proceedToPay()" class="proceedToPay"><p>Proceed To Pay</p></button>
      <button (click)="cancelBooking()" class="cancel"><p>Cancel Booking</p></button>
    </div>
  </div>
</div>
