<div class="card-container">
  <mdb-carousel
    #carousel
    class="carousel slide carousel-slide"
    [animation]="'slide'"
    [interval]="'0'"
  >
    <mdb-carousel-item *ngFor="let image of data['images']; let i = index">
      <div id="imgcarousel" class="view w-100">
        <img class="d-block w-100" [src]="image" />
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <div class="card">
    <div class="restaurantInfo">
      <div class="restaurantName">
        <h1>
          {{ data["restaurantName"] }}
        </h1>
      </div>

      <div class="cuisines">
        <p>
          {{ data["cuisines"] }}
        </p>
      </div>

      <div class="rating-price">
        <div class="rating">
          <p>
            {{ data["user_Rating"] }}
          </p>
          <img
            src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/972e1cb487b3a5c72c30a6635596f477.svg"
          />
        </div>

        <div class="pricePerPerson">
          <p>{{ data["pricePerHead"] }} points per person</p>
        </div>
      </div>

      <div class="address">
        <p>
          {{ data["address"] }}
        </p>
      </div>

      <div class="map">
        <a
          href="https://maps.google.com/?q={{ data['lat'] }},{{ data['lon'] }}"
          target="_blank"
        >
          <img
            src="https://www.seekpng.com/png/full/1005-10056004_map-pointer-comments-location-icon-svg.png"
          />
          <p>Map View</p></a
        >
      </div>
    </div>
    <div class="proceed-button" (click)="proceedForBooking()">
      <p>Proceed To Book</p>
    </div>
  </div>
</div>
<div class="browse-button">
  <button (click)="showRestaurantList()">Browse more restaurants</button>
</div>
