<div class="card">
  <div class="carousel-container">
    <carousel
      [(activeSlide)]="activeSlideIndex"
      [interval]="false"
      [itemsPerSlide]="1"
    >
      <slide *ngFor="let image of data['images']" class="slide">
        <img
          [src]="image"
          alt="image slide"
          class="restaurant-image"
          onError="this.src='https://icon-library.net/images/no-image-available-icon/no-image-available-icon-6.jpg';"
        />
      </slide>
    </carousel>
  </div>
  <div class="restaurantInfo">
    <div class="name">
      <h1 class="restaurantName">
        <b>{{ data["restaurantName"] }}</b>
      </h1>
    </div>

    <div class="map">
      <a
        href="https://maps.google.com/?q={{ data['latitude'] }},{{
          data['longitude']
        }}"
        ><img
          style="width: 40px; height:40px;"
          src="../assets/images/google-map.png"
      /></a>
    </div>

    <div class="rating-view">
      <div class="ratings">
        <p>
          <b> &#9734; &nbsp;{{ data["user_Rating"] }}</b>
        </p>
      </div>
    </div>

    <div class="address">
      <p>
        {{ data["address"] }}
      </p>
    </div>

    <div class="cuisines">
      <p>
        Cuisines : <b>{{ data["cuisines"] }}</b>
      </p>
    </div>

    <div class="price">
      <p>
        Price Per Person : <b>${{ data["pricePerHead"] }}</b>
      </p>
    </div>

    <div class="proceed-button" (click)="proceedForBooking()">
      <button>Proceed To Book</button>
    </div>
    <div class="browse-button" (click)="showRestaurantList()">
      <button>Browse more restaurants</button>
    </div>
  </div>
</div>
