<div class="card">
  <div class="restaurantImage"></div>
  <div class="restaurantInfo">
    <div class="line1">
      <h1 class="restaurantName">
        <b>{{ restaurantName }}</b>
      </h1>
      <div class="ratings">
        <p>
          <b> &#9734; &nbsp;{{ userRating }}</b>
        </p>
      </div>
    </div>

    <div class="line2">
      <p>{{ restaurantAddress }}</p>
    </div>

    <div class="line3">
      <h4>Cuisines : {{ cuisines }}</h4>
    </div>

    <div class="line4">
      <h4>Price Per Person : {{ pricePerPerson }}</h4>
    </div>

    <div class="line5">
      <button><b>Proceed To Book</b></button>
    </div>
  </div>
</div>
