.carousel-container {
  width: 100%;
  height: 80%;
  margin: 2% 0%;
  white-space: nowrap;
  overflow-y: auto;
}

@media screen and (min-width: 320px) {
  .carousel-container {
    width: 100%;
    height: 80%;
  }
}

@media screen and (min-width: 411px) {
  .carousel-container {
    width: 100%;
    height: 80%;
  }
}

@media screen and (min-width: 481px) {
  .carousel-container {
    width: 100%;
    height: 80%;
  }
}

@media screen and (min-width: 600px) {
  .carousel-container {
    width: 100%;
    height: 80%;
  }
  .slide {
    width: 40%;
    height: 85%;
  }
}

@media screen and (min-width: 768px) {
  .carousel-container {
    width: 100%;
    height: 80%;
  }
  .slide {
    width: 40%;
    height: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-container {
    width: 100%;
    height: 80%;
  }

  .slide {
    width: 40%;
    height: 85%;
  }
}

@media screen and (min-width: 1260px) {
  .carousel-container {
    width: 100%;
    height: 80%;
    margin: 1% 0%;
  }
  .slide {
    width: 20%;
    height: 90%;
    margin: 1% 1%;
  }
  .slide-image-container {
    height: 160px;
  }
}

@media screen and (min-width: 1281px) {
  .carousel-container {
    width: 100%;
    height: 80%;
    margin: 1% 0%;
  }
  .slide {
    width: 20%;
    height: 90%;
    margin: 1% 1%;
  }
  .slide-image-container {
    height: 160px;
  }
}

.container {
  width: 100%;
  height: auto;
  margin: 3% 0%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
  display: flex;
  background-color: #fff;
}

.booking-card {
  width: 96%;
  height: 96%;
  margin: 2% 2%;
  border: none;
}

.Booked {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding: 2% 2%;
  bottom: 0%;
  cursor: pointer;
  font-weight: bolder;
}

.Booked h1 {
  color: #3c763d;
  font-size: 18px;
  margin: 0%;
}

.Cancelled {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding: 2% 2%;
  bottom: 0%;
  cursor: pointer;
  font-weight: bolder;
}

.Cancelled h1 {
  color: #a94442;
  font-size: 18px;
  margin: 0%;
}

.title {
  width: 100%;
  height: auto;
  margin: 5% 0%;
  text-align: center;
}

.title h1 {
  font-size: 26px;
  line-height: 26px;
  margin: 0%;
  font-weight: normal;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.title span {
  float: right;
}

.booking-details {
  width: 96%;
  height: 96%;
  margin: 2% 2%;
  border: none;
}

.bookingId {
  width: 100%;
  height: auto;
  margin: 5% 0%;
}

.bookingId p {
  font-size: 16px;
  line-height: 18px;
  margin: 0%;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.restaurant-details {
  width: 100%;
  height: auto;
  margin: 5% 0%;
}

.restaurant-details p {
  margin: 0%;
}

.restaurant-details .sectionHeading {
  color: lightgrey;
}

.restaurantName {
  width: 100%;
  height: auto;
}

.restaurantName h1 {
  font-size: 18px;
  line-height: 20px;
  margin: 0%;
  font-weight: normal;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.address {
  width: 100%;
  height: auto;
}

.address p {
  font-size: 14px;
  line-height: 16px;
  margin: 0%;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.booking-details {
  width: 100%;
  height: auto;
  margin: 5% 0%;
}

.booking-details .sectionHeading {
  color: lightgrey;
}

.booking-details p {
  font-size: 16px;
  line-height: 18px;
  margin: 0%;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.billing-details {
  width: 100%;
  height: auto;
  margin: 5% 0%;
}

.billing-details p {
  font-size: 16px;
  line-height: 18px;
  margin: 0%;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.billing-details p span {
  float: right;
}

.billing-details .sectionHeading {
  color: lightgrey;
}

.billing-details hr {
  padding: 0%;
  margin: 0%;
}

.pointsAfterPayment {
  width: 100%;
  height: auto;
  margin: 5% 0%;
}

.pointsAfterPayment p {
  font-size: 14px;
  line-height: 16px;
  margin: 0%;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.pointsAfterPayment p span {
  float: right;
}

.user-response {
  width: 100%;
  margin: 5% 0%;
}

.cancel {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  vertical-align: middle;
  width: 98%;
  margin: 0% 1%;
  padding: 2% 2%;
  bottom: 0%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #d9534f;
  box-shadow: 1px 2px #8d8d8d;
  color: #fff;
  font-size: 16px;
}

.cancel:hover {
  background-color: #ffffff;
  border: 1px solid #d43f3a;
  color: #d9534f;
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    height: auto;
    margin: 3% 5%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 90%;
    height: auto;
    margin: 3% 5%;
  }
}

@media screen and (min-width: 1260px) {
  .container {
    width: 30%;
    height: auto;
    margin: 1% 0%;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1281px) {
  .container {
    width: 30%;
    height: auto;
    margin: 1% 0%;
    margin-left: 5%;
  }
}
