<div class="input-block">
  <div class="inputWithMic">
    <input
      type="text"
      class="input-box"
      [(ngModel)]="_userInput"
      placeholder="Type your message here..."
      (keydown.enter)="SendUserInput()"
      [disabled]="isListening"
      autofocus
    />
    <button (click)="listen()" class="voice">
      <i class="material-icons" [ngClass]="voiceButtonIcon">mic</i>
    </button>
  </div>
  <div class="send">
    <button (click)="SendUserInput()" class="text">
      <i class="material-icons">send</i>
    </button>
  </div>
</div>
