<div class="history">
  <app-history-header
    *ngIf="this._stateService.isAppDataSet"
    [userFirstName]="this._stateService.appData.userFirstName"
    [pointBalance]="this._stateService.appData.pointBalance"
  ></app-history-header>
  <nav class="categories">
    <button
      (click)="setCategory('booking')"
      [ngClass]="category == 'booking' ? 'active' : 'inactive'"
    >
      View Past Bookings
    </button>
    <button
      (click)="setCategory('ordering')"
      [ngClass]="category == 'ordering' ? 'active' : 'inactive'"
    >
      View Past Orders
    </button>
  </nav>
  <app-user-history
    *ngIf="category == 'booking' && !isLoading"
    [isDataAvailable]="
      this._stateService.getBookingHistoryData().isDataAvailable
    "
    [bookingHistories]="
      this._stateService.getBookingHistoryData().bookingHistories
    "
  ></app-user-history>
  <app-ordering-history
    *ngIf="category == 'ordering' && !isLoading"
    [isDataAvailable]="
      this._stateService.getOrderingHistoryData().isDataAvailable
    "
    [orderingHistories]="
      this._stateService.getOrderingHistoryData().orderingHistories
    "
  ></app-ordering-history>
  <div
  *ngIf="isLoading"
  class="loader"
  >
    <img src="https://media.giphy.com/media/WOZVhRvUaR2t51GK6v/giphy.gif" alt="loader" class="loader-image" >
  </div>
</div>
