.launcher {
  width: 330px;
  height: auto;
  margin: 2% auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
  display: flex;
  background-color: #fff;
}

.heading h1 {
  font-size: 20px;
  text-align: center;
}

.form {
  border: none;
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 10%;
  font-size: 14px;
}

input {
  width: 96%;
  margin: 2%;
  padding-left: 5%;
}
label {
  width: 96%;
  display: block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 2%;
}

select {
  width: 96%;
  margin: 2%;
  padding-left: 5%;
}

.button {
  border-radius: 20px;
  border: none;
  width: 96%;
  margin: 2%;
  background-color: #007bff;
  color: white;
  padding: 3%;
  font-size: 20px;
  outline: none;
}

.points-error {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  padding: 2% 2%;
  bottom: 0%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  box-shadow: 1px 2px #8d8d8d;
}

.points-error p {
  color: #a94442;
  font-size: 16px;
  margin: 0%;
}

.app-loader {
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  bottom: 10%;
}
