.ccontainer {
  margin: auto;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  overflow: hidden;
}

@media (min-width: 320px) {
  .ccontainer {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 411px) {
  .ccontainer {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 481px) {
  .ccontainer {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 600px) {
  .ccontainer {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 769px) {
  .ccontainer {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1260px) {
  .ccontainer {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1281px) {
  .ccontainer {
    width: 100%;
    height: 100%;
  }
}
